body{
    margin: 0;
    background-color: #222;
    font-family: sans-serif;
    display: flex;
    font-size: 50px;
}

.texto-contenedor{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    filter: drop-shadow(0px 0px 1px #fff)
            drop-shadow(0px 0px 7px #fff9)
            drop-shadow(0px 0px 36px #fff9)
            drop-shadow(0px 0px 1px #fff);
}

.texto{
    color: #fff;
    letter-spacing: 3px;
    animation: crecer 1s both steps(7);
    overflow: hidden;
    position: relative;
}

.texto::selection{
    background-color: transparent;
}


.texto::before{
    content: ' ';
    width: 2px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 4px;
    animation: titilar 1s infinite alternate;

}

@keyframes crecer {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes titilar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
